.flex_column {
   height: 225px;
   overflow: hidden;
   position: relative;
}

.onHoverElem {
   font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen, cantarell, helvetica neue, ubuntu, sans-serif;
   font-size: 14px;
   position: absolute;
   top: 0;
   left: 1.5rem;
   right: 1.5rem;
   bottom: 0;
   opacity: 0;
   display: none;
   transition: 0.3s;
   color: antiquewhite;
   z-index: 2;
}
.onHoverElem:hover {
   background-image: linear-gradient(180deg, #1f1f11 5%, rgba(255, 255, 255, 0));
   opacity: 1;
   display: block;
}
.onHoverElem .userInf {
   display: inline-flex;
}
.onHoverElem .userInf .userImg {
   border-radius: 50%;
}

.onHoverElem .photoInf {
   display: inline-flex;
}

.onHoverElem .photoInf .photoLikeCont,
.onHoverElem .photoInf .photoDownCont {
   height: 32px;
   width: 32px;
}
.onHoverElem .photoInf .photoLikeCont .photoLikeIcon,
.onHoverElem .photoInf .photoDownCont .photoDownIcon {
   cursor: pointer;
}
