@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.navBar {
   box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.nav {
   display: inline-flex;
   font-family: "Poppins", sans-serif;
}
.envelopeCont {
   height: 40px;
   background-color: #4c3dd9;
   border-radius: 5px;
   padding: 7px;
   display: inline-flex;
}
.envelopeCont .email {
   color: white;
   margin: 2px 0 0 5%;
}
.navItems {
   list-style-type: none;
   height: 40px;
}
.navItems .navItem {
   display: inline-block;
   margin-top: 10px;
}
